<html>
      <head>
        <title>Todo List </title>
      </head>
      <body>
        <p id="demo"></p>
   <h1>
       <script>
             var data =[1,2,3,4,5,7,8,5];
             var res = data.every(function(num, index) {
             return index === data.length - 1 || num < data[index + 1];
             }
       </script>
  </h1>
    </body>
</html>
